{% extends 'base.html.twig' %}

{% block body %}
    {{ form_errors(form) }} 
<div class="container">
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.year) }}
        {{ form_row(form.isActive) }}

        <button type="submit">Save</button>
    {{ form_end(form) }}
</div>

{% endblock body %}
