{% extends 'base.html.twig' %}


{% block body %}
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, in my test work</h1>
        <p>All films</p>
        <p><a href="{{ app.request.getBaseURL() }}/films/edit">Add New</a></p>
        </div>
    </div>

    <div class="container">
      <div class="row">
          
        {% for article in pagination %}
            <div class="col-md-4 blocks">
                <p>Name = {{ article.name }}</p>
                <p>Year = {{ article.year }}</p>
                {% if admin %}
                    <p>
                        <a class="btn btn-default" href="{{ app.request.getBaseURL() }}/films/edit/{{article.id}}" role="button">Edit</a>
                        <a href="{{ app.request.getBaseURL() }}/films/delete/{{article.id}}">remove</a>
                    </p>
                {% endif%}
               
            </div>
        {% endfor %}  
      </div>
      

      <hr>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    </div>
    
     
{% endblock %}
