<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/jquery-2.2.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
             
              <a class="navbar-brand" href="{{app.request.getBaseURL()}}/films">Films all</a>
              <a class="navbar-brand" href="{{app.request.getBaseURL()}}/films?admin=1">Edit Films all</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              
            </div><!--/.navbar-collapse -->
          </div>
        </nav>
        <div class="jumbotron">
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}
        </div>
        {% block body %}{% endblock %}
        
      <footer>
        <p>&copy; 2015 Company, Inc.</p>
      </footer>
    </body>
</html>
